<td class="sidebar round">
	<%= image_tag("computerscience.jpg", :alt => "CS photo") %><br /><br />
	<span><strong>Technology News: </strong></span>
	<ul>
		<li><%= link_to "Fast Company - Latest news and trends",
				"http://fastcompany.com" %></li>
		<li><%= link_to "PCWorld - What's happening in the PC world",
					"http://pcworld.com" %></li>
		<li><%= link_to "Microsoft - News from Microsoft",
					"http://microsoft.com" %></li>
		<li><%= link_to "Wired - A magazine devoted to tech news",
					"http://wired.com" %></li>
	</ul><br />
	<span><strong>Technology by Design News: </strong></span>
	<ul>
		<li><%= link_to "TBD moves into new building", "#" %></li>
		<li><%= link_to "Technology industry changes for local firm",
						"#" %></li>
		<li><%= link_to "TBD gets new employee", "#" %></li>
	</ul><br /><br />
	<span class="sociallinks"><%= link_to(image_tag("facebook.png", :alt => "facebook"), "http://www.facebook.com/home.php?#!/pages/Technology-by-Design/123505466103") %><a href="http://www.twitter.com/jpearson556"><img src="http://twitter-badges.s3.amazonaws.com/t_small-a.png" alt="Follow jpearson556 on Twitter"/></a>&nbsp;&nbsp;&nbsp;<a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="jpearson556">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></span>
</td>